.auth-layout {
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
  }

  .content .card-body h1 {
    text-align: center;
  }
}
