<%= if @keywords |> Enum.count === 0 do %>
	<p><%= gettext("empty_data") %></p>
<% else %>
	<div id="listKeyword" class="list-keyword" phx-update="prepend">
		<%= for keyword <- @keywords do %>
			<%= live_component @socket, ExMarketerWeb.KeywordLive.KeywordComponent, id: keyword.id, keyword: keyword %>
		<% end %>
	</div>
<% end %>
