.card-keyword {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &--failed .card-title {
    color: $red;
  }

  &--created .card-title {
    color: $cyan;
  }

  &--successed .card-title {
    color: $green;
  }

  &--in-progress .card-title {
    color: $yellow;
  }
}
