.card-keyword {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &--selected {
    background-color: #ffd97d;
  }

  &--recently-search {
    animation-name: backgroundColorSearch;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes backgroundColorSearch {
    50% {
      background: #dac9ff;
    }
    100% {
      background: #fff;
    }
  }

  &--failed .card-title {
    color: $red;
  }

  &--created .card-title {
    color: $cyan;
  }

  &--completed .card-title {
    color: $green;
  }

  &--in-progress .card-title {
    color: $yellow;
  }
}
